.jumbotron
      {
          width:30%;
          height:52%;
          margin-top: 10%;
          margin-left: 30%;
         
          background:rgba(0,0,0,0.0001)
          
          
           
      }
      body{
        background-image: url("bank2.jpg");
        background-repeat: no-repeat;
        background-size:  100%;
    }
     